// --------Partials-------- //
@import "colours"; //Colores Generales
@import "estructura";  //Configuraciones Generales de Estructuras
@import "mediasqueries"; //Medias Queries

/* ------------------------------------ */
/* --------Seccion Home-------- */
/* ------------------------------------ */
/* --------Estructura GRID-------- */
.home-grid{
    display: grid;
    grid-template-areas:
    "header"
    "navbar"
    "carousel"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
}
/* --------Contenedor Slide-------- */
.carousel-principal{
    grid-area: carousel;
    overflow: hidden;
    div{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s autoplay infinite;
    img{
        width: 20%;
        float: left;
    }
    }
}
/* --------Animacion Basica del Carousel-------- */
@keyframes autoplay {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
/* ------------------------------------ */
/* --------Seccion Empresa-------- */
/* ------------------------------------ */
/* --------Estructura GRID-------- */
.empresa-grid{
    @extend .home-grid;
    grid-template-areas:
    "header"
    "navbar"
    "about"
    "footer";
}
.empresa{
     grid-area: about;
     display: flex;
     flex-flow: column;
}
/* ------------------------------------ */
/* --------Seccion Servicios-------- */
/* ------------------------------------ */
/* --------Estructura GRID-------- */
.servicios-grid{
    @extend .home-grid;
    grid-template-areas:
    "header"
    "navbar"
    "servicios"
    "footer";
}
.servicios{
    grid-area: servicios;
}
/* ------------------------------------ */
/* --------Seccion Productos-------- */
/* ------------------------------------ */
.productos-grid{
    @extend .home-grid;
    grid-template-areas: 
    "header"
    "navbar"
    "titulo"
    "productos"
    "footer";
}
.seccion{
    grid-area: titulo;
}
.catalogo{
    grid-area: productos;
    display: flex;
    justify-self: center;
    width: 100%;
    @include media-querie(md){
        width: 90%;
    }
    @include media-querie(lg){
        width: 95%;
    }
}
/* --------Configuracion de la galeria Productos-------- */
/* --------Galeria Contenedora-------- */
.galeria-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 15px;
}
/* --------Items de la Galeria-------- */
.producto{
    margin: 10px 3px;
    background-color: $optioncolor;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.65);
    @include media-querie(sm){
        margin: 10px 10px;
    }
    @include media-querie(lg){
        &:hover{
            transform: scale(1.3);
            box-shadow: 0px 0px 20px 10px rgba(68,44,46,1);
        }
    }
    img{
        width: 200px;
        height: 200px;
        border-radius: 5px;
        box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.65);
    }
     // --------Configuracion de la descripcion de los items--------//
    div:last-child{
        width: 200px;
        margin-top: 5px;
        height: auto;
        background-color: $optioncolor;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
    }
}
/* --------Fin Configuracion de la galeria Productos-------- */
/* ------------------------------------ */
/* --------Seccion contacto-------- */
/* ------------------------------------ */
/* --------Estructura GRID-------- */
.contacto-grid{
    @extend .home-grid;
    grid-template-areas:
    "header"
    "navbar"
    "contacto"
    "footer";
}
.area-contacto{
    grid-area: contacto;
}
/* --------Tarjeta de Contacto-------- */
.card-contacto{
    background-color: $secondcolor;
    div{
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        @include media-querie(md){
            justify-content: center;
        }
        ul{
            margin-top: 15px;
            li{
                list-style: none;
        }
        }
        svg{
            color: $optioncolor;
            width: 90px;
            height: auto;
        }
    }
    h4{
        background-color: $optioncolor;
    }
}
/* --------Fin Tarjeta de Contacto-------- */
/* --------Boton Formulario de Contacto-------- */
.btn{
    background-color: $optioncolor;
    color: $thirdcolor;
    box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.65);
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    &:hover{
        background-color: $secondcolor;
    }
}
